.header {
    display: flex;
    flex-direction: row;
    background-color: deepskyblue;
    padding-top: 13px;
    padding-bottom: 13px;
    justify-content: space-between;
    margin-bottom: 0px;
}
h2 {
    margin: 15px 15px 15px;
}
.menu {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
    color: white;
}
#Home {
    background-color: black;
    border-radius:5%;
    padding: 10px 14px 10px 14px;
    margin: 12px 12px 12px;
}
#About {
    background-color: black;
    border-radius:5%;
    padding: 10px 14px 10px 14px;
    margin: 12px 12px 12px;
}
#login {
    background-color: black;
    border-radius:5%;
    padding: 10px 14px 10px 14px;
    margin: 12px 12px 12px;
}
#sign-up {
    background-color: rgb(174, 173, 173);
    color: black;
    border-radius:5%;
    padding: 10px 14px 10px 14px;
    margin: 12px 12px 12px;
}
.Welcome {
    background-color: beige;
    margin-top: 0px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.helo {
    font-size: large;
    color: rgb(97, 95, 95);
    padding-top: 20px;
}
.title {
    font-weight: bold;
    color:  rgb(1, 46, 46);
}
.button {
    color: rgb(17, 16, 16);
    padding: 5px 10px 5px;
    border-radius: 3px;
}
.button:hover {
    cursor: pointer;
    text-decoration: underline;
}